@tailwind base;
@tailwind components;
@tailwind utilities;

.field {
	@apply p-1 mt-3;
}

.field label {
	@apply text-sm text-gray-500;
}

.field input,
select,
textarea {
	@apply block border rounded text-2xl p-1;
}

.err {
	@apply text-sm text-red-700;
}

form {
	@apply p-3 mt-3 border rounded;
}

form button[type='submit'] {
	@apply p-3 rounded bg-black text-white mt-5 disabled:bg-opacity-50 disabled:cursor-not-allowed;
}
.hide-scroll-bar {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
